<?xml version="1.0" encoding="utf-8"?>
<openbox_menu xmlns="http://openbox.org/3.4/menu">
    <menu id="root-menu" label="MENU">
        <item label="OSCAR">
            <action name="Execute">
                <execute>/usr/bin/OSCAR</execute>
            </action>
        </item>
    </menu>
</openbox_menu>
